/*html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%;
}*/

.container-fluid {
  padding-left: 0;
}

div.app {
  max-width: auto;
  flex-direction: row;
  background-color: #92B2C6;
}